.small_card__container {
  display: flex;
  justify-content: space-around;
  padding: 0 8px 4px;
  align-items: center;
  border-bottom: 1px solid gray;
  height: 140px;
}

.small_card__container:hover {
  cursor: pointer;
}

.small_card__img img {
  display: flex;
  height: 200px;
  width: 300px;
  justify-content: center;
}

.small_card__img img {
  width: auto;
  max-width: 150px;
  height: auto;
  max-height: 100px;
  border-radius: 4px;
  object-fit: contain;
}

.small_card__title h3 {
  width: 140px;
  font-size: 14px;
}
