.articles__container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: auto;
}

.articles__others {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 450px;
  width: 400px;
  padding: 22px;
  margin: 30px;
}
